.add-option-error {
  font-style: italic;
  color: white;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

.add-option {
  display: flex;
  padding: $m-size;
  flex-direction: column;
}

.add-option-input {
  flex-grow: 1;
  border: none;
  border-bottom: 0.3rem solid darken($dark-blue, 10%);
  background: $dark-blue;
  margin-bottom: $s-size;
  color: $off-white;
  padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;
  }
  .add-option-input {
    margin: 0 $s-size 0 0;
  }
}
