.widget {
  background: $light-blue;
  //   padding: $m-size;
  //   margin-bottom: $xl-size;
}

.widget__message {
  color: $off-white;
  margin: 0;
  padding: $l-size;
  text-align: center;
  border-bottom: 1px solid lighten($light-blue, 10%);
}
.header-widget {
  display: flex;
  justify-content: space-between;
  padding: $m-size;
  background: $blue;
  color: $off-white;
}

.header-widget__title {
  margin: 0;
}
